@import "./variables/mixins";

// background
$black-background: rgba(17, 16, 16, 0.89);

// define the defeult size
$size: 5vh;

//define colors
$my-dark-green: rgba(0, 128, 128, 0.6);
$my-medium-green: rgba(0, 160, 96, 0.6);
$my-pale-green: rgba(0, 192, 64, 0.6);
$my-shadow: rgba(255, 255, 255, 0.5);
$my-border: rgba(255, 255, 255, 0.75);

// animation
$animation-duration: 1s;
$items-count: 5;
$animation-delay: $animation-duration/ $items-count;

body {
  background-color: $black-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

// define items
.load {
  width: $size * 10;
  height: $size * 7.5;
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background-color: $my-dark-green;
    height: 100%;
    width: $size;
    box-shadow: 0 0 4px $my-shadow;
    border: 1px $my-border solid;
    animation: move-bars $animation-duration;
    // @for @i from 1 through $items-count {

    // };
  }
}

// define animation
@keyframes move-bars {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}
